*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container-fluid{
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
.container{
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
.logo{
   width: 200px;
}
.menu {
    display: flex;
    list-style: none;
}
li{
    padding: 20px;
    color:#c8c7c5;
}
li:hover{
    color: black;
    font-weight: bold;
    text-decoration: underline solid 4px #8071D0;
    cursor: pointer;
}
.acc-btn{
        padding: 14px 20px;
        border-radius: 22px;
        border: none;
        background-color: #ffd8db;
        color: #A389CC;
        font-weight: 600;
}
.row{
    display: flex;
    margin: 4% 0;
}
.col{
    width: 49%;
    float: left ;
}
.ptop-4{
    padding-top: 5%;
    line-height: 28px;
    font-size: 18px;
}
.px-5{
    padding-left: 2%;
    padding-right: 2%;
}
.fs-50{
    font-size: 60px;
}
.ml-20{
margin-left: 20px;
}
.ml-8{
    margin-left: 8px;
}
.ml-37{
    margin-left: 37px;
}
.ml-50{
    margin-left: 50px;
}
.bottom-btn{
        display: flex;
        align-items: center;
        margin-top: 5%;
}
.new-acc{
    padding: 16px 26px;
    border: none;
    background-color: #5243C0;
    border-radius: 22px;
    color: white;
}
.para{
    display: flex;
    align-items: center;
    padding: 10px 0;
    width: 420px;
    border-radius: 12px;
}
.para:hover {
    cursor: pointer;
    background-color: #fff;
    box-shadow: 5px 5px 40px #e6e6e6, -5px -5px 40px #e6e6e6;
}
.user-btn-pink {
    width: 20px;
    height: 10px;
    margin-left: 10px;
    border: none;
    border-radius: 20px;
    background-color: #FED7DA;
}
.user-btn-red {
    width: 20px;
    height: 10px;
    margin-left: 10px;
    border: none;
    border-radius: 20px;
    background-color: #FD6534;
}
.user-btn-green {
    width: 20px;
    height: 10px;
    margin-left: 10px;
    border: none;
    border-radius: 20px;
    background-color: #9ED095;
}
.user-btn-orange {
    width: 20px;
    height: 10px;
    margin-left: 10px;
    border: none;
    border-radius: 20px;
    background-color: #FFE4A0;
}
.last{
    margin-top: 8%;
}
.blue{
    margin: 0 15px;
    width: 25px;
    height:25px;
    background-image: url('asset/tick-gray.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.blue:hover {
    background-image: url('asset/tick-blue.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.landing-img{
    width: 600px;
}